GEMINI_API_KEY=AI*************
CHROMA_PERSIST_DIR=./chroma_db

# Variables requises par l'application
DATABASE_URL=postgresql://postgres:votreMotDePasse@localhost:5432/DB_Hackathon
SECRET_KEY=a9*************
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
APP_NAME=ORIENT'IA
DEBUG=True


CHROMA_PERSIST_DIR=C:\Users\ASUS\Desktop\examen_clinique_m2_chill_team\backend\chroma_db
HF_TOKEN=hf_*************

