GEMINI_API_KEY=AIz-cle_api
CHROMA_PERSIST_DIR=./chroma_db

# Variables requises par l'application
DATABASE_URL=postgresql://postgres:clinique_2026@localhost:5432/clinique_db?client_encoding=cp1252
SECRET_KEY=clinique_super_secret_key_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
APP_NAME=ORIENTIA
DEBUG=True